/*#header {
    display: block;
    padding: 5px;
    background: #33E5C3;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
}*/

body {
    background: #D3FFF0;
}

div {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.selected{
    background: #83EAC7;
}

.header {
    color: white;
    background: #2c3e50;
}

.th{
    text-align:center;
}

.navbar-fixed-top, .panel-group, .panel, .panel-heading, .panel-title, .panel-default, .panel-default>.panel-heading {
    background: #2c3e50;
    color:white;
}

.navbar-fixed-top {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 20px;
}

.panel-collapse>.panel-body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
}

a {
    color: #2C3E50;
}

a:hover{
    color: #2C3E50;
    text-decoration: none;
}

span{
    color: black;
}

.adText {
    padding: 10px 10px 10px 10px;
    border: 2px solid;
    border-color: #33E5C3;
    border-radius: 4px;
    background-color: #D3FFF0;
}

.adInfo {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid;
    border-color: #33E5C3;
    border-radius: 4px;
    background-color: #D3FFF0;
    margin: 0px;
}

.panel-heading{
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
}

.panel-body, .panel{
    margin: 0px;
    margin-top: 0px;
}

.panel-body:hover {
    background: #83EAC7;
}

.panel{
    background: #D3FFF0;
    border: 0px;
}

.panel-body {
    border: 1px solid;
    border-radius: 4px;
}


.panel-body {
    border: 1px solid;
    border-color:#2c3e50;
}

.editLabel{
    margin-bottom: 45px;
}

img {
    border-radius: 4px;
    max-width: 200px;
    max-height: 200px;
}

.buttons {
    color: white;
}

.adContainer {
    border: 2px solid;
    border-color: #33E5C3;
    border-radius: 4px;
    background: #A2FDDB;
}

ul {
    list-style-type: none;
}

.btn-default {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 180px;
    display: inline-block;
    background: #2c3e50;
}


.btn {
    width: 100px;
    height: 48px;
    text-align: center;
}

#registerLogin {
    text-align: center;
    margin-bottom: 20px;
}