<div ng-include="'templates/partials/header.html'"></div>
<div class="row">
    <br/>
    <br/>
    <br/>

    <div class="col-md-2">

    </div>

    <div class="col-md-8">

        <form class="form-horizontal">
            <fieldset>
                <br/>

                <div class="row">
                    <div class="col-lg-6">
                        <legend>Edit Profile</legend>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <legend> Change Password</legend>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-lg-1">

                            <label for="inputUsername" ng-show="isUserAdmin" class="editLabel">Username</label>
                            <br/>
                            <label for="inputName" class="editLabel">Name</label>

                            <label for="inputEmail" class="editLabel">E-mail</label>

                            <label for="inputPhone" class="editLabel">Phone</label>

                            <label for="inputTown" class="editLabel">Town</label>

                        </div>
                        <div class="col-lg-4">
                            <input type="text" ng-model="currentUser.username" disabled ng-show="isUserAdmin" class="form-control" id="inputUsername">
                            <br/>
                            <input type="text" ng-model="currentUser.name" class="form-control" id="inputName">
                            <br/>
                            <input type="text" ng-model="currentUser.email" class="form-control" id="inputEmail">
                            <br/>
                            <input type="text" ng-model="currentUser.phoneNumber" class="form-control" id="inputPhone">
                            <br/>
                            <select class="form-control" ng-model="currentUser.townId" id="inputTown">
                                <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                            </select>
                            <br/>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="currentUser.isAdmin" ng-true-value="true" ng-false-value="false"> is Admin
                                </label>
                            </div>
                            <br/>

                            <button type="button" class="btn btn-primary" id="registerBtn"
                                    ng-click="editUserProfile(currentUser)" ng-hide="isUserAdmin">Update
                            </button>
                            <button type="button" class="btn btn-primary"
                                    ng-click="editUserProfileAdmin(currentUser)" ng-show="isUserAdmin">Update
                            </button>
                            <a href="/#/user/ads">
                                <button type="button" class="btn btn-primary">Cancel</button>
                            </a>
                        </div>

                        <div class="col-lg-3">
                            <label for="inputPassword" class="editLabel" ng-show="!isUserAdmin">Old password</label>
                            <br/>
                            <label for="inputNewPassword" class="editLabel">New password</label>
                            <label for="confirmNewPassword" class="editLabel">Confirm new password</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="password" ng-model="currentUser.oldPass" class="form-control" id="inputPassword" ng-show="!isUserAdmin">
                            <br/>
                            <input type="password" ng-model="currentUser.newPass" class="form-control" id="inputNewPassword">
                            <br/>
                            <input type="password" ng-model="currentUser.confPass" class="form-control"
                                   id="confirmNewPassword">

                            <br/>
                            <button type="button" class="btn btn-default" ng-click="changePass(currentUser)" ng-hide="isUserAdmin">Change Password
                            </button>
                            <button type="button" class="btn btn-default" ng-click="changeUserPasswordAdmin(currentUser)" ng-show="isUserAdmin">Change Password
                            </button>
                            <a href="/#/user/ads">
                                <button type="button" class="btn btn-primary">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>

                <br/>

            </fieldset>
        </form>
    </div>
</div>
