<div ng-include="'templates/header.html'"></div>
<div class="row">
    <br/>
    <br/>
    <br/>
    <div class="col-md-2">

    </div>

    <div class="col-md-8">

        <form class="form-horizontal">
            <fieldset>
                <br/>
                <div class="row">
                    <div class="col-lg-6">
                        <legend>Edit Profile</legend>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <legend>   Change Password</legend>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-lg-1">

                            <label for="inputName" class="editLabel">Name</label>

                            <label for="inputEmail" class="editLabel">E-mail</label>

                            <label for="inputPhone" class="editLabel">Phone</label>

                            <label for="inputTown" class="editLabel">Town</label>

                        </div>
                        <div class="col-lg-4">

                            <input type="text" ng-model="user.name" class="form-control" id="inputName">
                            <br/>
                            <input type="text" ng-model="user.email" class="form-control" id="inputEmail">
                            <br/>
                            <input type="text" ng-model="user.phoneNumber" class="form-control" id="inputPhone">
                            <br/>
                            <select class="form-control" ng-model="user.townId" id="inputTown">
                                <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                            </select>
                            <br/>
                            <button type="button" class="btn btn-primary" id="registerBtn" ng-click="editUserProfile(user)">Update
                            </button>
                            <a href="/#/user/ads">
                                <button type="button" class="btn btn-primary">Cancel</button>
                            </a>
                        </div>

                        <div class="col-lg-3">
                            <label for="inputPassword" class="editLabel">Old password</label>
                            <br/>
                            <label for="inputNewPassword" class="editLabel">New password</label>
                            <label for="confirmNewPassword" class="editLabel">Confirm new password</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="password" ng-model="user.oldPass" class="form-control" id="inputPassword">
                            <br/>
                            <input type="password" ng-model="user.newPass" class="form-control" id="inputNewPassword">
                            <br/>
                            <input type="password" ng-model="user.confPass" class="form-control" id="confirmNewPassword">

                            <br/>
                            <button type="button" class="btn btn-default" ng-click="changePass(user)">Change Password
                            </button>
                            <a href="/#/user/ads">
                                <button type="button" class="btn btn-primary">Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>

                <br/>

            </fieldset>
        </form>
    </div>
</div>
