<div ng-include="'templates/header.html'"></div>

<div class="row">
    <br/>
    <br/>
    <br/>

    <div class="col-md-2" ng-init="setSelectedStatus()">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Ads</h3>
            </div>

            <a class="menu" ng-click="setSelectedStatus()">
                <div class="panel-body">
                    All
                </div>
            </a>

            <a class="menu" ng-click="setSelectedStatus('Published')">
                <div class="panel-body">
                    Published
                </div>
            </a>

            <a class="menu" ng-click="setSelectedStatus('WaitingApproval')">
                <div class="panel-body">
                    Waiting Approval
                </div>
            </a>

            <a class="menu" ng-click="setSelectedStatus('Inactive')">
                <div class="panel-body">
                    Inactive
                </div>
            </a>

            <a class="menu" ng-click="setSelectedStatus('Rejected')">
                <div class="panel-body">
                    Rejected
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-9">
        <ul>
            <li ng-repeat="ad in data.ads">
                <div class="adContainer well">

                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="pull-left">
                                {{ad.title}}
                            </h4>
                        </div>
                        <div class="col-md-6">
                       <span class="pull-right">
                           {{ad.date | date: "dd-MMM-yyyy"}}
                       </span>
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="" ng-src="{{ad.imageDataUrl || 'images/noImage.png'}}"/>

                            <br/> <br/>

                            <div ng-show="!(checkStatus(ad.status, 'Inactive'))">
                                <a type="submit" href="">
                                    <button type="button" class="btn btn-default" ng-click="deactivateAd(ad.id)">
                                        Deactivate
                                    </button>
                                </a>
                                <br/><br/>
                            </div>

                            <div ng-show="checkStatus(ad.status, 'Inactive')">
                                <a type="submit" href="/#/edit/{{ad.id}}">
                                    <button type="button" class="btn btn-default">Edit</button>
                                </a>
                                <br/><br/>
                                <a type="submit">
                                    <button type="button" class="btn btn-default" ng-click="publishAgainAd(ad.id)">
                                        Publish Again
                                    </button>
                                </a>
                                <br/><br/>

                                <a type="submit" href="/#/delete/{{ad.id}}">
                                    <button type="button" class="btn btn-default">Delete</button>
                                </a>
                            </div>

                        </div>

                        <div class="col-md-8">
                            <div class="adText">
                                {{ad.text}}
                            </div>
                            <br/> <br/> <br/>

                            <div class="row">
                                <div class="col-md-2">
                                    <br/> Category
                                </div>
                                <div class="col-md-10">
                                    <div class="adInfo">
                                        {{ad.categoryName}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <br/> Town
                                </div>
                                <div class="col-md-10">
                                    <div class="adInfo">
                                        {{ad.townName}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <br/> Status
                                </div>
                                <div class="col-md-10">
                                    <div class="adInfo">
                                        {{ad.status}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <pagination total-items="totalAds" ng-model="currentPage" items-per-page="itemsPerPage"
                        ng-change="pageChanged(currentPage)"></pagination>
        </ul>
    </div>
</div>

