<div ng-init="setSelectedCategory()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
            <a ng-click="setSelectedCategory()" class="default"> All </a>
        </div>
        <div class="panel-body" ng-repeat="category in categories">
            <a ng-click="setSelectedCategory(category.id)">{{category.name}} </a>
        </div>
    </div>
</div>
<br/>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Towns</h3>
    </div>
    <div class="panel-body">
        <a ng-click="setSelectedTown()"> All </a>
    </div>
    <div class="panel-body" ng-repeat="town in towns">
        <a ng-click="setSelectedTown(town.id)"> {{town.name}}</a>
    </div>
</div>