<div class="navbar-collapse collapse navbar-responsive-collapse">
        <accordion class="navbar-fixed-top">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <p class="header"> Home <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </p>
                </accordion-heading>
                <a href="#/login">
                    <div class="panel-body">
                        Login
                    </div>
                </a>
                <a href="#/register">
                    <div class="panel-body">
                        Register
                    </div>
                </a>
            </accordion-group>
        </accordion>
    </div>

