<div class="row">
    <div class="col-lg-3" id="registerLogin">
        <div class="form-group">
            <div class="col-lg-7">
                <p>To publish a new ad, please login.</p>
                <button type="submit" class="btn btn-primary" id="login">Login</button>
                <br/>
                <br/>
                <button type="submit" class="btn btn-primary" id="register">Register</button>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
asd
                    </div>

    <div class="col-lg-3">
        asdafda
        </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>