<div class="row">
    <div class="col-lg-5" id="registerLogin">
        <div class="form-group">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-4">
                <p>To publish a new ad, please login.</p>
                <a href="#/login">
                    <button class="btn btn-primary" id="login">Login</button>
                </a>
                <br/>
                <br/>
                <a href="#/register">
                    <button class="btn btn-primary" id="register">Register</button>
                </a>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <br/>

                <div class="form-group">
                    <label for="inputUsername" class="col-lg-2 control-label">Username </label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" ng-model="myForm.username" id="inputUsername" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password </label>

                    <div class="col-lg-10">
                        <input type="password" class="form-control" ng-model="myForm.password" id="inputPassword" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary" ng-click="myForm.submitTheForm()" id="loginBtn">Login</button>
                    </div>
                    <div class="col-lg-6">
                        <a href="/#/register"> Register here</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>